.blog-card__text h4 {
  font-size: 28px;
  color: $color-primary;

  @include laptop {
    font-size: 36px;
  }

  @include desktop-l {
    font-size: 48px;
  }
}

.blog-card__text p {
  color: $color-white;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

.blog-card__text-header p:first-child {
  font-size: 16px;
  color: $color-white;
  margin-bottom: 12px;
  font-weight: 300;

  @include tablet {
    font-size: 20px;
  }
}

.blogs {
  background-color: $color-secondary;

  @include desktop {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.blogs__cards-list li {
  width: 100%;

  @include laptop {
    width: 45%;
  }
}

.blog-card__text-header {
  gap: 16px;
}
.blog-card__text-header p {
  color: $color-primary;
  margin-bottom: 0;
}

.blog-card__text-header p:last-child {
  font-family: $font-secondary;
  font-weight: 700;
  color: $color-primary;
  font-size: 16px;

  @include tablet {
    font-size: 18px;
  }
}

.blogs__cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-bottom: 70px;

  @include tablet {
    flex-direction: row;
    gap: 110px 60px;
    margin-bottom: 145px;
  }
}

.blog-card__text-header {
  display: flex;
  justify-content: space-between;
}

.blogs__cards-list li:nth-child(2) {
  @include laptop {
    width: 45%;
    position: relative;
    top: 110px;
  }
}

.blogs__cards-list li:nth-child(3) {
  @include laptop {
    width: 35%;
  }
}

.blogs__cards-list li:nth-child(4) {
  @include laptop {
    position: relative;
    top: 110px;
    width: 55%;
  }
}

.blogs-card {
  display: block;
}

.blogs-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 500px;
  margin-bottom: 20px;

  @include laptop {
    margin-bottom: 40px;
  }
}

.blogs__cards-list li:nth-child(3) .blogs-card img {
  width: 100%;
  height: auto;
  object-fit: cover;

  @include laptop {
    min-height: 647px;
  }
}

.blogs__cards-list li:nth-child(3) .blogs-card {
  @include laptop {
    max-width: 536px;
    max-height: 647px;
  }
}

.blogs__cards-list li:nth-child(4) .blogs-card img {
  width: 100%;
  height: auto;
  object-fit: cover;

  @include laptop {
    height: 450px;
  }
}

.blogs__cards-list li:nth-child(5) {
  @include laptop {
    position: relative;
    top: 90px;
  }
}

.blogs__cards-list li:nth-child(5) .blogs-card img {
  @include laptop {
    max-height: 500px;
    margin-bottom: 40px;
  }
}

.blogs__cards-list li:nth-child(2) .blogs-card img,
.blogs__cards-list li:nth-child(5) .blogs-card img {
  max-height: 500px;
}

.blogs__cards-list li:nth-child(6) {
  @include laptop {
    position: relative;
    top: 100px;
  }
}

.blogs__cards-list li:nth-child(6) .blogs-card img {
  width: 100%;
  height: auto;
  object-fit: cover;

  @include laptop {
    max-height: 658px;
  }
}
