.container {
  @media (min-width: 1400px) {
    max-width: 1640px;
    padding-right: $container-padding-x * 2;
    padding-left: $container-padding-x * 2;
  }
}

.container-lg {
  @media (min-width: 768px) {
    max-width: 1920px;
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;
  }

  @media (min-width: 1400px) {
    max-width: 1920px;
    padding-right: $container-padding-x * 2;
    padding-left: $container-padding-x * 2;
  }
}

.container,
.container-sm,
.container-md {
  @media (min-width: 576px) {
    max-width: 920px;
  }

  @media (min-width: 768px) {
    max-width: 920px;
  }
}

.container.container-xl {
  max-width: 1920px;

  @include desktop-l {
    padding-right: 100px;
    padding-left: 280px;
  }
}
