.feedback {
  padding: 65px 0 0;
  background-image:
    linear-gradient(41.31deg, rgba(240, 9, 28, 0.6), rgb(0.7055157423, 0.0264570303, 0.0823092833) 66%),
    linear-gradient($color-secondary);

  @include tablet {
    padding: 125px 0 0;
    position: relative;
  }

  @include desktop {
    padding: 113px 0 0;
  }

  &__wrapper {
    position: relative;
  }

  &__formWraper {
    @include desktop {
      margin: 0 auto;
      max-width: 1028px;
    }
  }

  h2 {
    font-family: $font-secondary;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 26px;
    letter-spacing: 0;

    @include tablet {
      font-size: 32px;
      line-height: 41px;
      margin-bottom: 43px;
    }

    @include desktop {
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 81px;
    }

    .scribble svg {
      stroke: #F0091C;
      left: 0;
      transform: scale(0.7, 0.7) translate(2px, 0) rotate(4deg);
      width: 128px;

      @include tablet {
        left: 0;
        transform: scale(0.7, 0.7) translate(2px, 0) rotate(4deg);
        width: 181px;
      }

      @include desktop {
        transform: scale(1) translate(-100px, 0) rotate(4deg);
        width: auto;
        left: auto;
      }
    }
  }

  p {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 47px;
    line-height: 1.6;
    letter-spacing: -0.3px;
    max-width: 400px;
    margin-inline: auto;

    @include tablet {
      line-height: 1.7;
      font-size: 20px;
      max-width: 600px;
      margin: -6px auto 86px;
      letter-spacing: normal;
    }

    @media (min-width: 1200px) {
      max-width: 400px;
      margin-left: auto;
      margin-right: 64px;
      text-align: left;
    }

    @media (min-width: 1400px) {
      text-align: left;
      max-width: 245px;
      margin: -6px 0 0 0;
      margin-left: auto;
      margin-right: 0;
    }
  }

  &__form {
    margin-bottom: 156px;

    @media (min-width: 1400px) {
      max-width: 600px;
      margin-left: 100px;
    }

    @include desktop {
      margin-bottom: 117px;
    }

    .col-12 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;


      @include desktop {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }

  .input,
  .textarea {
    padding: 10px 21px;
    appearance: none;
    box-sizing: border-box;
    border: 1px solid rgba(252, 129, 139, 0.6);
    border-radius: 6px;
    font-weight: 100;
    font-size: 13px;
    line-height: 16px;
    background-color: transparent;
    color: white;
    transition: border-color $transition-duration;
    margin-bottom: 20px;
    outline: none;
    z-index: 1;

    @include tablet {
      padding: 13px 26px 13px 22px;
      font-size: 20px;
      line-height: 1;
      border-radius: 10px;
      margin-bottom: 30px;
    }

    &:focus,
    &:hover,
    &:active {
      border: 1px solid rgba(252, 129, 139, 1);
    }

    &[disabled] {
      opacity: 0.3;
      pointer-events: none;
    }

    &::placeholder {
      font-style: italic;
      opacity: 1;
      transition: $transition-duration;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .textarea {
    min-height: 78px;
  }

  .button {
    font-family: $font-secondary;
    width: auto;
    margin-top: 11px;
    padding: 12px 50px;
    z-index: 1;

    @include tablet {
      margin-top: 25px;
      padding: 17px 25px;
      font-size: 20px;
    }

    @include desktop {
      margin-top: 17px;
    }
  }
}

.feedback__form {
  z-index: 2;

  @media (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
    max-width: 70%;
    margin-left: auto;
  }
}