$mobile-menu-background-color: $color-primary;

.header {
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 43px;

  .mobile-menu-active & {
    position: fixed;
    z-index: 3;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-muted;
    display: none;
    z-index: 11;

    .mobile-menu-active & {
      display: block;
    }
  }

  @include tablet {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  @include desktop-l {
    padding-top: 74px;
  }

  .header-light & {
    background-color: $color-muted;

    .header__logo {
      .logo.logo-dark {
        display: block;
      }

      .logo {
        display: none;
      }
    }
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 440px) {
    justify-content: flex-end;
  }

  @include desktop-l {
    align-items: flex-start;
  }
}

.header__logo {
  z-index: 11;
  position: relative;
  height: auto;
  width: 118px;
  bottom: 0;

  @include tablet {
    width: 209px;
  }

  @include laptop {
    width: 203px;
  }

  @include desktop-l {
    width: 249px;
  }

  .logo {
    .mobile-menu-active & {
      display: none;
    }
  }

  .logo-dark {
    display: none;

    .mobile-menu-active & {
      display: block;
    }
  }
}

.header__menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  overflow: hidden;
  overflow-y: auto;
  margin: 0;
  height: 100dvh;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  color: $color-black;
  background-color: $color-muted;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @include tablet {
    padding-bottom: 70px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .mobile-menu-active & {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  &>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    @include laptop {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1640px;
      padding-right: 140px;
      padding-left: 140px;
    }
  }
}

.header__lang {
  @media (min-width: 440px) {
    margin-top: 4px;
    margin-right: 70px;
    margin-bottom: 0;
    margin-left: auto;
  }

  @include tablet {
    margin-right: 92px;
  }
}

.header__menu-wrap {
  max-width: 1920px;
  padding-top: 140px;
  margin-right: auto;
  margin-left: auto;

  @include laptop {
    padding-top: 215px;
    flex-shrink: 0;
    margin-right: 0;
    margin-left: 0;
    min-width: 300px;
  }

  @include desktop-sm {
    padding-top: 242px;
  }

  @include desktop {
    margin-left: 147px;
    padding-top: 215px;
  }
}

.header__menu-title {
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 70px;

  @include laptop {
    text-align: left;
    margin-bottom: 80px;
  }

  @include desktop-sm {
    text-align: left;
    font-size: 20px;
    margin-bottom: 100px;
  }

  @include desktop {
    font-size: 15px;
    font-size: 29px;
    line-height: 37px;
    text-align: left;
    margin-bottom: 70px;
  }

  span {
    position: relative;
  }
}

.header__menu-title .scribble svg path {
  stroke: #F0091C !important;
}

.header__menu-toggle {
  @include desktop {
    position: relative;
    right: 20px;
  }

  @include desktop {
    right: 75px;
  }
}