.info {
  padding: 56px 0 57px;

  background-image:
    conic-gradient(from 8.7deg at 85% 150%, rgb(1, 0, 0) -0.8deg, rgba(240, 9, 28, 0.6) 35deg, rgb(1, 0, 0) 340.2deg, rgba(240, 9, 28, 0.6) 351deg),
    linear-gradient($color-secondary);

  .scribble svg {
    stroke: #F0091C;
  }

  @include tablet {
    padding-top: calc($header-height + 82px);
    margin-top: -(calc($header-height + 90px));
    position: relative;
    background-image:
      conic-gradient(from 8.7deg at 85% 200%, rgb(1, 0, 0) -0.8deg, rgba(240, 9, 28, 0.6) 35deg, rgb(1, 0, 0) 340.2deg, rgba(240, 9, 28, 0.6) 351deg),
      linear-gradient($color-secondary);
  }

  @include desktop {
    padding-top: calc($header-height + 106px);
    margin-top: -(calc($header-height + 106px));
  }

  @include tablet {
    padding: 77px 0 116px;
  }

  @include desktop {
    padding: 107px 0 149px;
  }

  p,
  li {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;

    @include desktop {
      font-size: 20px;
      line-height: 24px;
    }
  }

  li {
    margin-bottom: 0;

    @include tablet {
      margin-bottom: 10px;
    }
  }

  .button {
    font-family: $font-secondary;
    padding: 8px 37px;
    margin-top: 19px;
    width: 197px;

    @include tablet {
      margin-top: 36px;
      width: auto;
      font-size: 16px;
      padding: 14px 19px;
    }

    @include desktop {
      margin-top: 72px;
      font-size: 20px;
      padding: 16px 20px;
    }
  }

  &__gridWrapper {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-areas:
      "imageOne imageOne imageOne imageOne imageOne imageOne imageOne imageOne"
      "infoList infoList infoList infoList infoList infoList infoList infoList"
      "imageTwo imageTwo imageTwo imageTwo imageTwo imageTwo imageTwo imageTwo"
      "faq faq faq faq faq faq faq faq"
      "imageTree imageTree imageTree imageTree imageTree imageTree imageTree imageTree";

    @include tablet {
      grid-template-columns: repeat(10, 10%);
      grid-template-areas:
        "imageOne imageOne imageOne imageOne imageOne imageOne imageOne . . ."
        "infoList infoList infoList infoList infoList infoList infoList infoList infoList infoList"
        ". imageTwo imageTwo imageTwo imageTwo imageTwo imageTwo imageTwo imageTwo ."
        "faq faq faq faq faq faq faq faq faq faq"
        "imageTree imageTree imageTree imageTree imageTree imageTree imageTree imageTree imageTree imageTree";
    }

    @include desktop {
      margin-bottom: 0;
      grid-template-columns: repeat(10, 10%);
      grid-template-areas:
        "imageOne imageOne imageOne imageOne . infoList infoList infoList infoList ."
        " . . . imageTwo imageTwo imageTwo imageTwo . . ."
        "faq faq faq faq faq imageTree imageTree imageTree imageTree imageTree";
    }
  }

  &__imageOne {
    grid-area: imageOne;
    max-width: 110%;
    margin-bottom: 48px;

    @include tablet {
      margin-bottom: 54px;
    }
  }

  &__imageTwo {
    grid-area: imageTwo;
    max-width: 110%;
    margin-bottom: 31px;
    margin-left: -10px;

    @include tablet {
      max-width: 107%;
      margin-bottom: 38px;
      position: relative;
      left: -40px;
      margin-left: 0;
    }
  }

  &__imageTree {
    grid-area: imageTree;

    @include tablet {
      margin: 0 auto;
    }

    @include desktop {
      margin-left: 6%;
      width: 83%;
      height: 687px;
      overflow: hidden;
      object-fit: cover;
    }
  }

  &__list {
    grid-area: infoList;
    margin-bottom: 30px;
    padding-left: 32px;

    @include tablet {
      margin-bottom: 7px;
      padding-left: 0;
      margin-left: 30px;
    }

    @media (min-width: 1024px) {
      margin-left: 250px;
    }

    @include desktop {
      margin-bottom: 43px;
    }

    h2 {
      font-family: $font-secondary;
      font-size: 26px;
      font-weight: 700;
      line-height: 31px;
      margin-bottom: 30px;

      @include tablet {
        font-size: 32px;
        line-height: 45px;
        margin-bottom: 44px;
        letter-spacing: -0.5px;
      }

      @include desktop {
        margin-bottom: 79px;
        font-size: 44px;
        line-height: 61px;
        margin-top: 52px;
      }

      span {
        background: linear-gradient(90deg, $color-primary 0%, rgba(232, 123, 6, 1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: #fff;
        -webkit-text-fill-color: #fff;
      }

      .scribble svg {
        transform: scale(1.3, 1.2) translate(8px, 14px) rotate(0deg);

        @include tablet {
          transform: scale(1.4, 1.5) translate(8px, 16px) rotate(0deg);
        }

        @include desktop {
          transform: scale(3.8, 3.5) translate(2px, 9px) rotate(0deg);
        }
      }
    }

    p {
      margin-bottom: 28px;

      @include desktop {
        line-height: 33px;
        margin-bottom: 39px;
      }
    }

    ul {
      margin-bottom: 11px;
      margin-left: 27px;

      @include tablet {
        margin-bottom: 0;
      }
    }
  }

  &__faq {
    grid-area: faq;
    background-color: black;
    padding: 44px 32px 24px 26px;
    margin-bottom: 41px;

    @include tablet {
      padding: 66px 10% 38px;
      margin-bottom: 55px;
    }

    @include desktop {
      margin-left: 11%;
      padding: 76px 9% 45px;
      margin-bottom: 0;
      margin-right: 7%;
    }

    h3 {
      font-family: $font-secondary;
      font-size: 26px;
      font-weight: 700;
      line-height: 31px;
      margin-bottom: 24px;
      max-width: 410px;

      @include tablet {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 47px;
        letter-spacing: -1px;
      }

      @include desktop {
        font-size: 44px;
        line-height: 66px;
        margin-bottom: 49px;
      }

      .scribble svg {
        transform: scale(1.1, 1.1) translate(-11px, 13px) rotate(0deg);

        @include tablet {
          transform: scale(1.2, 1.1) translate(-8px, 13px) rotate(3deg);
        }

        @include desktop {
          transform: scale(2.8, 2.7) translate(-6px, 9px) rotate(0deg);
        }
      }
    }

    ul {
      list-style: none;
      list-style: none;

      li {
        position: relative;
        padding-left: 42px;
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 20px;

        @include tablet {
          font-size: 14px;
          padding-left: 70px;
          line-height: 26px;
        }

        @include desktop {
          font-size: 20px;
          line-height: 35px;
          padding-left: 76px;
          margin-bottom: 45px;
        }

        &::before {
          position: absolute;
          content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 30 30" width="28" height="16" fill="none"><rect id="Layer_1" width="38.000000" height="24.000000" x="0.000000" y="0.000244" fill="rgb(255,255,255)" fill-opacity="0"/><path id="Vector" d="M31.6386 9.35682C24.2002 9.19661 16.7617 9.51704 9.3233 9.83746C7.67406 9.90155 5.7892 10.4142 4.27459 10.9269C3.09655 11.3114 1.54828 11.8882 0.605853 12.7534C-1.54827 14.6759 2.55802 14.6439 3.63508 14.6118C4.03898 14.6118 4.44288 14.5798 4.84677 14.5477C5.11604 14.5477 5.3853 14.5477 5.65457 14.5157C5.01506 14.5157 4.88043 14.5157 5.28433 14.5157C6.09212 14.5157 6.93358 14.4516 7.74137 14.4196C9.45793 14.3555 11.1745 14.2914 12.8911 14.2594C16.3242 14.1632 19.7237 14.1632 23.1568 14.2273C24.7387 14.2594 26.388 13.971 27.9026 13.5865C29.4172 13.2019 31.0664 12.6893 32.3454 11.8882C32.884 11.5678 34.0957 10.9269 33.8937 10.1579C33.6918 9.38887 32.1772 9.38887 31.6386 9.38887L31.6386 9.35682Z" fill="rgb(240,9,28)" fill-rule="nonzero"/><path id="Vector" d="M25.7827 3.68511C28.7109 6.05628 31.7738 8.45948 33.7933 11.5997L34.1635 8.97216C30.3602 12.8173 26.0519 16.1497 24.1334 21.2445C23.7295 22.334 24.6046 23.6157 25.7154 23.9041C26.9944 24.2245 28.1051 23.4875 28.509 22.3981C30.1246 18.1364 34.2309 15.2205 37.3947 12.0162C38.0679 11.3113 38.2698 10.2218 37.765 9.38872C35.5435 5.89606 32.2787 3.20447 29.0475 0.576969C28.1051 -0.192056 26.7588 -0.288184 25.85 0.576969C25.0422 1.34599 24.9076 2.88405 25.85 3.62103L25.7827 3.68511Z" fill="rgb(240,9,28)" fill-rule="nonzero"/></svg>');
          left: 1px;
          top: 7px;

          @include tablet {
            transform: scale(1.5, 1.5);
            left: -1px;
            top: 6px;
          }

          @include desktop {
            transform: scale(2, 2);
            left: 8px;
            top: 8px;
          }
        }

      }
    }
  }
}