.magazineBlocks {
  padding: 51px 0 82px;

  @include tablet {
    padding: 64px 0 121px;
  }

  @include desktop {
    padding: 138px 0 141px;
  }

  p {
    font-size: 13px;
    line-height: 21px;

    &.magazineBlocks__subtitle {
      grid-area: subtitle;
      margin-bottom: 48px;
      line-height: 25px;

      @include tablet {
        line-height: 30px;
        margin-bottom: 66px;
        margin-top: 65px;
      }

      @include desktop {
        font-size: 22px;
        line-height: 36px;
        margin-bottom: 69px;
        margin-top: 0;
        max-width: 360px;
      }

      span {
        color: $color-primary;
        font-weight: 700;
      }
    }

    @include tablet {
      font-size: 16px;
      line-height: 27px;
    }

    @include desktop {
      font-size: 20px;
      line-height: 34px;
    }
  }

  h3 {
    font-family: $font-secondary;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.5;

    @include tablet {
      font-size: 32px;
    }

    @include desktop {
      font-size: 44px;
    }

    .scribble svg {
      stroke: #F0091C;
    }
  }

  &__titleOne {
    grid-area: titleOne;
    width: 120px;
    position: relative;
    top: -9px;

    @include tablet {
      width: 225px;
    }

    @include desktop {
      width: 100%;
    }

    .scribble svg {
      transform: scale(1.8, -0.9) translate(-3px, -3px) rotate(0deg);

      @include tablet {
        transform: scale(1.7, -0.9) translate(-3px, -3px) rotate(0deg);
      }

      @include desktop {
        transform: scale(4.7, -2.7) translate(0, -2px) rotate(0deg);
      }
    }
  }

  &__titleTwo {
    grid-area: titleTwo;
    text-align: center;

    .scribble svg {
      transform: scale(0.6, 0.8) translate(-1px, 0px) rotate(0deg);

      @include desktop {
        transform: scale(1.7, 2.4) translate(-3px, -1px) rotate(0deg);
      }
    }

    @include tablet {
      position: relative;
      top: -12px;
      width: 245px;
      text-align: left;
    }

    @include desktop {
      width: 100%;
      top: 0;
      padding-top: 58px;
    }
  }

  &__gridWrapper {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-areas:
      "subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle"
      "titleOne titleOne contentOne contentOne contentOne contentOne contentOne contentOne"
      "contentTwo contentTwo contentTwo contentTwo contentTwo contentTwo contentTwo ."
      "contentTree contentTree contentTree contentTree contentTree contentTree contentTree contentTree"
      "titleTwo titleTwo titleTwo titleTwo titleTwo titleTwo titleTwo titleTwo";

    @include tablet {
      margin-bottom: 169px;
      grid-template-columns: repeat(10, 10%);
      grid-template-areas:
        "subtitle subtitle subtitle subtitle . contentOne contentOne contentOne contentOne contentOne"
        "titleOne titleOne titleOne titleOne . contentOne contentOne contentOne contentOne contentOne"
        "contentTwo contentTwo contentTwo contentTwo . contentOne contentOne contentOne contentOne contentOne"
        "contentTwo contentTwo contentTwo contentTwo . contentTree contentTree contentTree contentTree contentTree"
        ". . . . . contentTree contentTree contentTree contentTree contentTree"
        "titleTwo titleTwo titleTwo titleTwo . contentTree contentTree contentTree contentTree contentTree"
        "titleTwo titleTwo titleTwo titleTwo . . . . . .";
    }

    @include desktop {
      margin-bottom: 0;
      grid-template-columns: repeat(11, 9.1%);
      grid-template-areas:
        "subtitle subtitle subtitle . . contentOne contentOne contentOne contentOne contentOne contentOne"
        "titleOne titleOne titleOne titleOne . contentOne contentOne contentOne contentOne contentOne contentOne"
        "contentTwo contentTwo contentTwo contentTwo . contentOne contentOne contentOne contentOne contentOne contentOne"
        "contentTwo contentTwo contentTwo contentTwo . contentOne contentOne contentOne contentOne contentOne contentOne"
        "contentTwo contentTwo contentTwo contentTwo . contentTree contentTree contentTree contentTree contentTree ."
        "titleTwo titleTwo titleTwo titleTwo . contentTree contentTree contentTree contentTree contentTree ."
        "titleTwo titleTwo titleTwo titleTwo . . . . . . .";
    }
  }

  &__contentOne {
    grid-area: contentOne;
    position: relative;
    display: grid;
    margin-bottom: 53px;
    grid-template-areas:
      "images"
      "description";

    @include tablet {
      margin-bottom: 78px;
    }

    @include desktop {
      margin-bottom: 0;
    }
  }

  &__contentTwo {
    grid-area: contentTwo;
    margin-bottom: 53px;

    @include tablet {
      padding-top: 89px;
    }
  }

  &__contentThree {
    grid-area: contentTree;
    margin-bottom: 67px;
  }

  &__imagesGroup {
    grid-area: images;

    @include desktop {
      position: relative;
      height: 637px;
    }

    img:nth-child(1) {
      position: relative;
      z-index: 2;
      width: 53%;
      margin: 0 0 0 auto;
      bottom: -20px;

      @include tablet {
        width: 54%;
        bottom: -60px;
      }

      @include desktop {
        width: 40%;
        bottom: 0;
      }
    }

    img:nth-child(2) {
      position: relative;
      z-index: 1;
      width: 53%;

      @include tablet {
        width: 59%;
      }

      @include desktop {
        width: 45%;
        position: absolute;
        bottom: 0;
        right: 32%;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-areas:
      "image"
      "description";

    @include desktop {
      grid-template-areas:
        "description"
        "image";
    }

    &>img {
      grid-area: image;
    }
  }

  &__descriptionOne {
    padding-top: 27px;

    @include tablet {
      padding-top: 29px;
    }

    @include desktop {
      padding-top: 0;
      max-width: 42%;
      position: absolute;
      top: 81px;
      left: 0;
    }
  }

  &__descriptionTwo {
    grid-area: description;
    display: flex;
    padding-top: 14px;
    max-width: 475px;

    @include tablet {
      padding-top: 36px;
    }

    @include desktop {
      padding: 58px 0 50px 63px;
    }
  }

  &__descriptionThree {
    padding-top: 14px;
    grid-area: description;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include tablet {
      padding-top: 22px;
    }

    p {
      flex: 0 1 auto;

      @include desktop {
        margin-bottom: 52px;
      }
    }

    img {
      width: 57px;
      display: block;
      margin: 0 13px;
      padding: 0;
      flex: 0 1 57px;

      @include tablet {
        width: 79px;
        margin: 10px 0 0;
      }

      @include desktop {
        width: 122px;
        margin: 0 40px;
      }
    }
  }
}