.switch-lang {
  position: relative;
  display: flex;
  align-items: center;
  color: $color-white;
  z-index: 11;

  &__link {
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    letter-spacing: 0.2px;
    text-decoration-color: transparent;

    @include tablet {
      font-size: 15px;
      line-height: 19px;
    }

    &.focus,
    &:active,
    &:hover,
    &.active {
      color: $color-primary;
    }
  }

  .mobile-menu-active &,
  .header-light & {
    color: $color-secondary;

    &__link {

      &.focus,
      &:active,
      &:hover,
      &.active {
        color: $color-secondary;
      }
    }
  }
}

.switch-lang__divider {
  font-size: 12px;
  margin-right: 5px;
  margin-left: 5px;

  @include laptop {
    font-size: 14px;
  }
}