[data-scrollspy] {
  opacity: 0;
}

.page-loaded {
  .animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}

[data-scrollspy] {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate__fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.animate__fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.animate__fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeftResponse {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(60px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.animate__fadeInLeftResponse {
  animation-name: fadeInLeftResponse;
  animation-delay: 600ms;
}

@keyframes fadeInRightResponse {
  0% {
    opacity: 0;
    transform: translate3d(100%, -140px, 0);
  }

  20% {
    opacity: 1;
    transform: translate3d(-60px, -140px, 0);
  }

  30% {
    opacity: 1;
    transform: translate3d(0, -140px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -140px, 0);
  }

  70% {
    opacity: 1;
    transform: translate3d(0, -155px, 0);
  }

  80% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInRightResponse {
  animation-name: fadeInRightResponse;
  animation-delay: 600ms;
}

@keyframes fadeInUpResponse {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  30% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  70% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInUpResponse {
  animation-name: fadeInUpResponse;
}

@keyframes fadeInUpResponse {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  75% {
    opacity: 1;
    transform: translate3d(0, -10px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInUpResponse {
  animation-name: fadeInUpResponse;
}

@keyframes fadeInDownResponse {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  75% {
    opacity: 1;
    transform: translate3d(0, 10px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInDownResponse {
  animation-name: fadeInDownResponse;
}