@import "components-landing/container";
@import "components-landing/header";
@import "components-landing/footer";
@import "components-landing/page-header";
@import "components-landing/hero";
@import "components-landing/switch-lang";
@import "components-landing/menu-toggle";
@import "components-landing/menu-address";
@import "components-landing/menu-copyright";
@import "components-landing/accordions";
@import "components-landing/magazine-blocks";
@import "components-landing/info";
@import "components-landing/feedback";
@import "components-landing/button-gradient.scss";

@import "components/navbar";
@import "components/scribble";
@import "components/accordion";

@import "animations";